*{
	box-sizing: border-box;
	margin: 0px;
	font-family: sans-serif;
	align-content: center;

}
body{
	margin: 2%;
}
h1{
	text-align: center;
}
section{
	margin-top:15px;
	margin-right: 15px;
	margin-bottom: 15px;
	border: 2px solid black;
	background-color: #a0a3a1;
}
section h2{
	float: right;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}
section p{
	clear: both;
	
}
#h1{
	background-color: #a9c2b1;
}
#h2{
	background-color: #dec592;
}
#h3{
	background-color: #89c6e0;
}

@media(min-width:992px)
{
	section{
		float: left;
	width: 30%;
	}
}

@media(min-width: 768px) and (max-width: 991px)
{
	#s1{
		width: 45%;
		float: left;
		margin: 15px;
	}
	#s2{
		width: 45%;
		float: left;
	}
	#s3{
		clear: both;
	}
}